{
    "machine": {
        "model": "ENGEL",
        "ip": null,
        "port": null
    },
    "data": [
        {
            "Id": "1909050054002",
            "name": "安瓿瓶開瓶器",
            "qty": "2600",
            "current": "0"
        },
        {
            "Id": "1909050054003",
            "name": "安瓿瓶開瓶器",
            "qty": "4400",
            "current": "0"
        },
        {
            "Id": "1909050004002",
            "name": "安瓿瓶開瓶器",
            "qty": "1530",
            "current": "0"
        }
    ]
}