body
{
  margin: 0px;
  padding: 0px;
  width: 99vw;
}
#page_head
{
  width:99vw;
  margin:0px;
  padding:0px;
}
#header
{
  width:99vw;
  height:10vh;
  margin:0px;
  padding:0px;
  background-image: linear-gradient(to right,rgb(0,4,41),rgb(15,30,163));
  background-size: contain;
}
#header h1
{
  padding: 2vh 0vw 0vh 2vw;
  font-size: 5vh;
  color:white;
}
#navigator_bar
{
  width:99vw;
  height: 8vh;
}
#navigator_bar h1
{
  padding: .5vh 0vw .5vh 3.5vw;
  float:left;
  font-size: 3vh;
  color:black;
}
#navigator_bar h1:hover
{
  color:grey;
}
#navigator_bar .selected_page
{
  color: rgb(85, 96, 194);
}
#page_body
{
  margin: 0px;
  padding:0px;
  width:99vw;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top:8vh;
  left:3vh;
  background-color: #f1f1f1;
  width: 50vh;
  height: 29vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content p {
  color: black;
  margin:0px;
  padding: 2vh 2vw;
  font-size: 1.3vw;
  text-decoration: none;
  display: block;
}
.dropdown-content p:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

/*home*/
#home
{
  display:block;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#home_header
{
  display:block;
  margin: 0px;
  padding: 0px;
  width:99vw;
  height:50vh;
  background-color: grey;
  background-size: contain;
}
#home_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/02.png");
  background-repeat: no-repeat;
}
#home_body div
{
  width:99vw;
  height:50vh;
  padding: 25vh 0vw 0vh 0vw;
}

#home_body div .container
{
  margin: 0vh 0vw 0vh 10vw;
  padding: 0px;
  width:20%;
  height:100%;
  float: left;
  background-color: white;
  background-size: contain;
  box-shadow: 1vw 2vh 1vw rgb(161,161,161);
}
#home_body div .container_header
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:9vh;
  background-color: rgb(161, 19, 19);
  background-size: contain;
}
#home_body div .container_header h1
{
  margin: 0px;
  padding: 2vh 0vw 2vh 1vw;
  font-size:4vh;
  color: white;
}
#home_body div .body_footer
{
  width:auto;
  height:auto;
  padding: 60vh 0vw 0vh 25vw;
}
#home_body div .body_footer h1
{
  margin: 0px;
  padding: 0px;
  font-size: 3vh;
  color: grey;
}
#home_footer
{
  margin:0px;
  padding: 0px;
  width:98.8vw;
  height: 30vh;
  text-align: center;
  background-color: grey;
  background-size: contain;
}
#home_footer div
{
  margin:0px;
  padding: 4vh 0vw 0vh 0vw;
}
#home_footer div h1
{
  margin: 0px;
  padding: 1.8vh 0vw 0vh 0vw;
  font-size:2.8vh;
  color: white;
}
/*latest news*/
#latest_news
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#latest_news_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#latest_news_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  font-size: 7vh;
  color: white;
}
/*professor*/
#professor
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#professor_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#professor_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}
/* publication and project*/
#reffered_journal_papers
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#reffered_journal_papers_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#reffered_journal_papers_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}
#conference_papers
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#conference_papers_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#conference_papers_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}
#patents
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#patents_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#patents_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}
#projects
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#projects_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#projects_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}
/* research area*/
#research_area
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#research_area_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 350vh;
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
  
}
#research_area_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 10vh;
  font-size: 7vh;
  color: white;
}
#research_area_ai
{
  margin: 0vh;
  padding: 0vh;
}
#research_area_ai img
{
  margin: 0vh;
  padding: 0vh;
  position: absolute;
  z-index: -1;
}
#research_area_ai_context
{
  font-size: 5vh;
  color: #ddd;
  letter-spacing: 5vh;
  position: absolute;
  top:70%;
  left: 10%;
}
#research_area_deep_learning
{
  margin: 0px;
  padding: 119vh 0vw 101vh;
}
#research_area_deep_learning img
{
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
}
#research_area_deep_learning_context
{
  font-size: 5vh;
  color: #ddd;
  letter-spacing: 5vh;
  position: absolute;
  top:180%;
  left: 10%;
}
#research_area_intelligent_control
{
  margin: 0px;
  padding: 0vh 0vw;
}
#research_area_intelligent_control img
{
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
}
#research_area_intelligent_control_context
{
  font-size: 5vh;
  color: #ddd;
  letter-spacing: 5vh;
  position: absolute;
  top:285%;
  left: 10%;
}
#research_area_smart_grid
{
  margin: 0px;
  padding: 101vh 0vw;
}
#research_area_smart_grid img
{
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
}
#research_area_smart_grid_context
{
  font-size: 5vh;
  color: #ddd;
  letter-spacing: 5vh;
  position: absolute;
  top:390%;
  left: 20%;
}
/* latest research*/
#latest_research
{
  display:none;
  padding:0px;
  margin: 0px;
  width: 99vw;
}
#latest_research_body
{
  margin:0px;
  padding: 0px;
  width: 99vw;
  height: 100vh;
  background-color: white;
  background-size: contain;
  background-image: url("material/pic/06.png");
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
}
#latest_research_body_header h1
{
  margin: 0px;
  padding: 5vh 0vw 0vh 3vw;
  height: 25vh;
  font-size: 7vh;
  color: white;
}



